/*NAVIGATION*/
.main-menu {
    padding-right: 15px;
}

.a-nav {
    display: block;
    color: #fff !important;
    padding: 25px 15px;
    /*margin-left: 10px;
    margin-right: 10px;*/
    text-align: center;
    /*margin-bottom: 20px;*/
    /*border-top: 1px solid rgba(255,255,255,0.3);*/
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.a-nav:hover {
    cursor: pointer;
    background-color: #212529;
}


.hamburger {
    display: block;
    /*position: absolute;
    top: 0;*/

    z-index: 2;
    color: #fff;
    font-size: 2.5em;
}


nav.navigation {
    /*padding-top: 25px;*/
    margin-left: -200px;
    background-color: #263544;
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    width: 150px;
    transition: all 0.5s ease;
}

.overlay {
    position: fixed;
    visibility: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: 2;
    transition: all 0.5s ease;
}

.overlay.visible {
    opacity: 0.85;
    visibility: visible;
}


nav.navigation.visible {
    margin-left: -20px;
}


.hamburger:hover {
    cursor: pointer;
}




