* {
    font-family: 'Questrial', sans-serif;
    box-sizing: border-box;
}


body {
    background-color: #121d27 !important;
}

table, th, td {
    border-bottom: 1px solid rgba(255,255,255,0.2);
    border-collapse: collapse;
    border-spacing: 0;
}


tr {
    height: 45px;
    padding: 10px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(dropdown.ico) right / 20px no-repeat #fff;
    padding-right: 20px;
}

label {
    display: inline-block !important;
    color: #fff;
    margin-bottom: 0 !important;
}

input, select, textarea {
    background-color: #475b6fc4 !important;
    color: #ffffff !important;
    margin-top: 7px !important;
}

ul {
    list-style: none;
    padding-left: 15px;
}


.app-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
   /* height: 40px;*/
    margin-bottom: 20px;
}

.app-header-item {

}

.app-container {
    margin: 20px
}

.all-portfolio-wrapper {
    font-size: 0.9em;
    flex-shrink: 1;
    /*position: absolute;
    top: 0;
    right: 0;*/
}

.all-portfolio-item {
    display: inline-block;
    padding: 0 15px;
    text-align: center;
    border-left: 1px solid rgba(255,255,255,0.3);
}

.header-select {
    color: #fff;
   /* margin-bottom: 40px !important;*/
    /*position: absolute;
    top: 15px;
    left: 70px;*/
    border-left: 1px solid rgba(255,255,255,0.3);
    padding: 0 15px;
}

.header-select label {
    display: inline-block;
    font-size: 0.9rem;
    padding-right: 10px
}
.header-select .form-control {
    font-size: 0.8rem;
    width: 100% !important;
}


.deco-btn {
    position: absolute;
    right: 15px;
    top: 15px;
}


.form-control {
    margin-top: 0 !important;
    border: 1px solid rgba(255,255,255,0.3) !important;
    display: inline-block !important;
}

a[type="button"] {
    background: none!important;
    border: none;
}

.close.close-memo {
    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 1005;
    color: #fff;
}

.spinner-border.above {
    width: 5rem;
    height: 5rem;
    position: fixed;
    top: 200px;
    z-index: 1200;
    left: 50%;
    margin-left: -2.5rem !important;
}

.alert {
    margin-bottom: 0 !important;
}

.alert.error, .alert.message {
    margin-bottom: 15px !important;
}

.card-perso {
    position: relative;
    background-color: #263544;
    width: 100%;
    height: auto;
    border: 1px solid rgba(255,255,255,0.2);
    margin: 0 0 20px 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.card-perso a.collapse-link {
    color: inherit;
    text-decoration: none;
}

.card-perso a.collapse-link:hover {
    text-decoration: none;
}

.card-header {
    /*background-color: #060D14 !important;*/
    background-color: #10263c !important;
    color: #fff;
}

.modal-header {
    background-color: #263544;
    color: #fff;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.modal-footer {
    background-color: #263544;
    color: #fff;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.card-body, .modal-body {
    background-color: #263544;
    color: #fff;
}

.card-footer {
    color: #bbb !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.card a.collapse-link:hover {
    display: block;
    background-color: #ddd;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

a.nav-link {
    color: #fff;
}

a.nav-link:hover {
    color: #fff;
}



.signin-container {
    text-align: center;
    margin: 40px auto;
    width: 250px;
    padding: 20px;
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    color: #fff;
}

.signin-container p {
    margin-top: 15px;
}

.abcRioButton {
    margin: 0 auto;
    margin-top: 40px;
}

.app-logo {
    width: 80px;
    height: auto;
}



.action-btn {
    padding: 0 10px !important;
    margin: 0 2px;
    /*font-size: 0.9rem !important;*/
}

.smallDate {
    text-align: left;
    font-size: 0.7em;
    margin-bottom: 0;
}

.action-btns {
    display: inline-block;
}

.trade-plan-list {
    padding: 7px 0 7px 7px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.trade-plan-string {
    display: inline-block;
    color: rgba(255,255,255,0.5);
    font-size: 0.9em;
    line-height: 2.1em;
}

.tp-header {
    padding: 7px;
    border: 2px solid rgba(255,255,255,0.4);
    width: 200px;
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.tp-header-group {
    margin-bottom: 40px;
}


.insert-tp {
    position: absolute;
}

.tp-footer {
    text-align: center;
    font-size: 1rem;
}

.action-tradeplan {
    float: right;
}


.btn.add-plan, .btn.filter-plan, .btn.archive-plan, .btn.add-history {
    /*float: right;*/
    width: 40px;
    height: 25px;
}

.btn.filter-plan, .btn.add-history {
    float: right;
    position: relative;
}

.add-plan, .filter-plan, .archive-plan, .add-history {
    margin-right: 10px;
}

.history-table, .history-table table {
    position: relative;
    width: 100%;
    font-size: 0.9rem;
    color: rgba(255,255,255,0.5);
}

.history-table.filter-visible {
    margin-top: 35px;
}

.total-fisc {
    padding: 7px;
    border: 2px solid;
    margin: 7px 0;
}



span.filters-reset {
    display: none;
    position: absolute;
    z-index: 1000;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
    border-radius: 100%;
    background-color: #28a745;
    color: white;
    text-align: center;
}

span.filters-reset:hover {
    cursor: pointer;
}

span.filters-reset.filters-filled {
    display: block;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    z-index: 1000;
    /*width: 250px;*/
    right: 15px;
    top: 63px;
}


.filter-item {
    position: relative;
}

.filter label {
    text-align: right;
    padding-right: 10px;
}

.filter label, .filter input, .filter select {
    display: inline-block !important;
    height: 28px;
    width: 120px;
    font-size: 0.8em;
}

.filter label {
    width: 60px;
}


/*.history-table table td, .history-table table th {
    !*border: 1px solid rgba(255,255,255,0.1)*!
    border: none;
}*/

.collapse-icon {
    float: right;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
}

.state-content {
    text-align: center;
}

.button-address {
    position: absolute;
    top: 12px;
    right: 7px;
}

.clipBoard {
    margin: 7px;
    font-size: 1.5rem;
}

.clipBoard:hover{
    color: grey;
}

.clipBoard:hover {
    cursor: pointer;
}

.state-item {
    /*text-align: left;*/
    background-color: #263544;
    color: #fff;
    /*display: inline-block;*/
    /*min-width: 30%;*/
    /*vertical-align: top;*/
    padding: 15px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 20px;
    border: 2px solid rgba(255,255,255,0.4)
}

.state-label {
    display: block;
    font-size: 0.9em;
    color: #bbb;
}

.state-line {
    /*display: inline-block;*/
    margin-top: 10px;
}

.state-line .form-control {
    width: 80% !important;
}

.state-calcul {
   /* display: inline-block;*/
}

.state-price.state-item {
    text-align: center;
}


.big-price {
    display: block;
    font-size: 1.4em;
}

.state-price .form-group {
    /*text-align: left;*/
}

.state-data {
    margin-top: 5px !important;
}

.sell {
    color: red;
}

.sell:before {
    content: '';
    border-left: 2px solid red;
    margin-right: 5px;
}

.buy {
    color: green;
}

.buy:before {
    content: '';
    border-left: 2px solid green;
    margin-right: 5px;

}

.buy.converted:after {
    content: '⇂';
    color: red;
}

.sell.external:after {
    content: '↾';
    color: green;
}

.td-date {
    font-size: 0.8em;
    font-style: italic;
}

.disclaim {
    color: rgba(255,255,255,0.5);
    padding-top: 15px;
}

.fibo-content {
    margin-top: 15px;
    border-top: 1px solid rgba(255,255,255,0.3);
}

.fibo-header {
    margin: 10px 0;
}

.fibo-header label {
    color: rgba(255,255,255,0.5);
}

.fibo-title {
    font-size: 1.2em;
}


.fibo-data {
    display: inline-block;
    min-width: 100px;
}

.fibo-number, .fibo-proba {

}

.fibo-number.max, .fibo-proba.max {
    color: green;
}


.progressBar {
    margin: 10px auto;
    text-align: center;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    position: relative;
    height: 20px;
    width: 250px;
    border-radius: 50px;
    border: 1px solid #fff;
}

.percentageInfo {
    position: absolute;
}

.progressFiller {
    background-color: #007bff;
    height: 100%;
    border-radius: inherit;
    transition: width .2s ease-in;
}


@keyframes infiniteRotate {
    to {transform: rotate(360deg);}
}

.refresh-button {
    position: absolute;
    top: 5px;
    right: 50px;
    font-size: 22px;
    color: #fff;
}
.refresh-button:hover {
    cursor: pointer;
}
.rotate-element {
    -webkit-animation: infiniteRotate 1s linear infinite; /* Safari */
    animation: infiniteRotate 1s linear infinite;
}


@media all and (max-width: 580px) {

    .widget-title-comp {
        font-size: 0.8em;
    }


    
    .history-action {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }
    .history-action button {
        float: none !important;
    }

    .history-table.filter-visible {
        margin-top: 120px;

    }
    
    .action-tradeplan {
        float: none;
    }

    .filter {
        justify-content: center;
    }

    .filter-item {
        margin-top: 10px;
    }

    .total-fisc {
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }


    .history-table td {
        padding-right: 3px;
    }

    .state-item {
        margin-right: 0;
        margin-left: 0;
    }

    .all-portfolio-wrapper {
        font-size: 0.8em;
        width: 100%;
        margin-top: 15px;
        padding: 7px;
        border: 1px solid rgba(255,255,255,0.3);
    }


    .all-portfolio-item {
        display: inline-block;
        width: 50%;
        padding: 0 15px;
        text-align: center;
        border-left: none;
    }
}

@media all and (max-width: 359px) {

    .header-select {
        max-width: 140px;
    }

    .header-select label {
        display: none !important;
    }

}

@media all and (max-width: 768px) {

    .header-select label, .header-select .form-control  {
        font-size: 0.9em;
    }

    .header-select .form-control {
        width: 100px !important;
    }

    .header-select {
        font-size: 0.8em;
        max-width: 180px;
    }


    .all-portfolio-wrapper {
        font-size: 0.8em;

    }

    .history-table {
        font-size: 0.9em;
        padding-top: 15px;
    }

    .table-responsive-perso {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .table-responsive-perso.history-table table {
        min-width: 960px;
        text-align: center;
    }

}

@media print {

    .printSection {
        background-color: #263544;
    }
    
    .printSection th, .printSection td {
        padding: 5px 12px;
        border-bottom: 1px solid rgba(255,255,255,0.2);
        border-collapse: collapse;
        border-spacing: 0;

    }

    .table-responsive-perso {
        overflow-x: auto;
        /*-webkit-overflow-scrolling: touch;*/

    }

    .history-table.filter-visible {
        margin-top: 0px;
    }

    .history-table, .history-table table {
        width: 100%;
        font-size: 0.9rem;
        background-color: #fff;
        color: #555;
        /*color: rgba(255,255,255,0.5);*/
    }
    
    .action-col, .action-cell {
        display: none;
    }
    
    .card-body, .card-perso {
        background-color: #fff;
    }
    
    .collapse-icon {
        display: none;
    }

    .history-table button {
        display: none;
    }
    
    .filter {
        display: none;
    }

    .printSection{
        padding: 40px !important;
    }
}
